<mat-card class="example-card">
  <mat-card-header>
	<mat-card-title>{{item.name}}</mat-card-title>
	<mat-card-subtitle>{{item.unit_price}}/{{item.measurementUnit}}</mat-card-subtitle>
  </mat-card-header>
  <div class="text-center">
	<img mat-card-lg-image *ngIf="item.thumbImage !== undefined" src="{{environment.apiUrl}}{{item.thumbImage}}" alt="photo">
	<img mat-card-lg-image *ngIf="item.thumbImage === undefined" src="assets/image/no-image.png" alt="photo">
  </div>

  <mat-card-content>
    <p>
      {{item.short_desc}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
