<div class="container">
	<mat-tab-group>
		<mat-tab label="Add">
			<h1>Add A New Product</h1>
			<app-product-form></app-product-form>
		</mat-tab>

		<mat-tab label="View">
			<h1>All Products</h1>
			<mat-grid-list cols="3" rowHeight="1:2">
				<mat-grid-tile>
					<app-product-grid-item></app-product-grid-item>
				</mat-grid-tile>
				<mat-grid-tile>
					<app-product-grid-item></app-product-grid-item>
				</mat-grid-tile>
				<mat-grid-tile>
					<app-product-grid-item></app-product-grid-item>
				</mat-grid-tile>
				<mat-grid-tile>
					<app-product-grid-item></app-product-grid-item>
				</mat-grid-tile>
			</mat-grid-list>
		</mat-tab>

		<mat-tab label="Search">
			<h1>Search Products</h1>

		</mat-tab>
	</mat-tab-group>
</div>
