<div class="container">
  <div class="col">
    <div class="row justify-content-end">
      <!--New Category Button-->
      <div class="float-right">
        <button mat-flat-button color="primary">New</button>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-8">
        <!--Category View-->
        <mat-grid-list cols="3" rowHeight="1:2">
          <mat-grid-tile>
            <app-product-grid-item></app-product-grid-item>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-product-grid-item></app-product-grid-item>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-product-grid-item></app-product-grid-item>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-product-grid-item></app-product-grid-item>
          </mat-grid-tile>
        </mat-grid-list>



      </div>
      <div class="col-4">
        <!--Category Form-->
        <app-product-form></app-product-form>
      </div>
    </div>
  </div>
</div>

