<form [formGroup]="supplierForm" (ngSubmit)="saveSupplier(supplierForm.value)" autocomplete="off" novalidate>
	<mat-card>
		<mat-card-title>Supplier Form</mat-card-title>
		<mat-card-content>
			<div class="example-container">
				<!--Basic Info-->
				<mat-card-subtitle>Basics</mat-card-subtitle>
				<br>

				<mat-form-field appearance="fill">
					<mat-label>Title</mat-label>
					<mat-select required formControlName="title" [(ngModel)]="selectedSupplier.contact_title">
						<mat-option *ngFor="let item of TITLES" [value]="item.value">{{item.name}}</mat-option>
					</mat-select>
				</mat-form-field>
				<br>

				<mat-form-field appearance="fill">
					<mat-label>Contact Name</mat-label>
					<input matInput required formControlName="name" [(ngModel)]="selectedSupplier.contact_name">
				</mat-form-field>
				<br>

				<mat-form-field appearance="fill">
					<mat-label>Company Name</mat-label>
					<input matInput required formControlName="company" [(ngModel)]="selectedSupplier.company_name">
				</mat-form-field>
				<br>

				<mat-divider></mat-divider>
				<br>

				<!--Contact Info-->
				<mat-card-subtitle>Contacts</mat-card-subtitle>
				<br>

				<mat-form-field appearance="fill">
					<mat-label>Telephone Number</mat-label>
					<input matInput required formControlName="telephone"
						[(ngModel)]="selectedSupplier.contact.telephone">
				</mat-form-field>
				<br>

				<mat-form-field appearance="fill">
					<mat-label>Email</mat-label>
					<input matInput required formControlName="email" [(ngModel)]="selectedSupplier.contact.email">
				</mat-form-field>
				<br>

				<mat-form-field appearance="fill">
					<mat-label>Fax</mat-label>
					<input matInput formControlName="fax" [(ngModel)]="selectedSupplier.contact.fax">
				</mat-form-field>
				<br>

				<mat-form-field appearance="fill">
					<mat-label>Postal Code</mat-label>
					<input matInput required formControlName="postalcode"
						[(ngModel)]="selectedSupplier.contact.postal_code">
				</mat-form-field>
				<br>

				<mat-divider></mat-divider>
				<br>

				<!--Location Info-->
				<mat-card-subtitle>Location</mat-card-subtitle>
				<br>

				<mat-form-field appearance="fill">
					<mat-label>District</mat-label>
					<mat-select required formControlName="district"
						[(ngModel)]="selectedSupplier.contact.location.district">
						<mat-option *ngFor="let item of DISTRICTS" [value]="item.value">{{item.name}}</mat-option>
					</mat-select>
				</mat-form-field>
				<br>

				<mat-form-field appearance="fill">
					<mat-label>City</mat-label>
					<input matInput required formControlName="city"
						[(ngModel)]="selectedSupplier.contact.location.city">
				</mat-form-field>
				<br>

				<mat-form-field appearance="fill">
					<mat-label>Address</mat-label>
					<input matInput required formControlName="address"
						[(ngModel)]="selectedSupplier.contact.location.address">
				</mat-form-field>
				<br>

			</div>

			<mat-card-actions>
				<button mat-button [disabled]="!supplierForm.valid">SAVE</button>
				<button mat-button (click)="resetForm()">CANCEL</button>
			</mat-card-actions>
		</mat-card-content>
	</mat-card>
</form>
