<mat-horizontal-stepper [linear]="true" #productAddStepper>
	<!--Product Basic Information-->
	<mat-step [stepControl]="basicInforFormGroup">
		<form [formGroup]="basicInforFormGroup">
			<ng-template matStepLabel>Product Information</ng-template>
			<div class="row">
				<div class="col-6">
					<mat-form-field appearance="fill">
						<mat-label>Product Name</mat-label>
						<input type="text" matInput required formControlName="productName">
					</mat-form-field>
					<br>

					<mat-form-field appearance="fill">
						<mat-label>Short Description</mat-label>
						<input matInput required formControlName="shortDescription">
					</mat-form-field>
					<br>

					<mat-form-field appearance="fill">
						<mat-label>Long Description</mat-label>
						<textarea matInput required formControlName="longDescription"></textarea>
					</mat-form-field>
					<br>
				</div>
				<div class="col-6">
					<mat-form-field appearance="fill">
						<mat-label>Unit Price(LKR)</mat-label>
						<input type="number" matInput required formControlName="unitPriceLKR">
					</mat-form-field>
					<br>

					<mat-form-field appearance="fill">
						<mat-label>Unit Price(USD)</mat-label>
						<input type="number" matInput required formControlName="unitPriceUSD">
					</mat-form-field>
					<br>

					<mat-form-field appearance="fill">
						<mat-label>Measurement Unit</mat-label>
						<mat-select formControlName="measurementUnit">
							<mat-option *ngFor="let item of mesurementUnits" [value]="item.value">{{item.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<br>
				</div>
			</div>

			<div class="p-5">
				<button mat-raised-button matStepperNext color="primary">Next</button>
			</div>
		</form>
	</mat-step>

	<!--Product Image Upload-->
	<mat-step [stepControl]="imageFormGroup">
		<form [formGroup]="imageFormGroup">
			<ng-template matStepLabel>Product Image</ng-template>
			<!--form content-->
			<div class="m-3">
				<mat-label>Product Image</mat-label>
				<button class="ml-2" mat-raised-button color="warn" (click)="onClick()">
					<mat-icon>file_upload</mat-icon>
					Upload
				</button>
				<input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*"
					style="display:none;" />
			</div>
			<!--Footer-->
			<div class="p-5">
				<button mat-raised-button matStepperPrevious color="primary" class="mr-3">Back</button>
				<button mat-raised-button matStepperNext color="primary">Next</button>
			</div>
		</form>
	</mat-step>

	<!--Avilabilities and Associations-->
	<mat-step [stepControl]="associationFormGroup">
		<form [formGroup]="associationFormGroup">
			<ng-template matStepLabel>Availability & Associations</ng-template>
			<!--form content-->
			<mat-form-field appearance="fill">
				<mat-label>Promotions</mat-label>
				<textarea matInput formControlName="promotion"></textarea>
			</mat-form-field>
			<br>

			<mat-checkbox formControlName="stockAvailable">Stock Available</mat-checkbox>
			<br>

			<mat-checkbox formControlName="showToCustomer">Show to Customer</mat-checkbox>
			<br>

			<mat-form-field appearance="fill">
				<mat-label>Category</mat-label>
				<mat-select formControlName="category">
					<mat-option *ngFor="let item of categoryList" [value]="item">{{item.name}}</mat-option>
				</mat-select>
			</mat-form-field>
			<br>

			<mat-form-field appearance="fill">
				<mat-label>Supplier</mat-label>
				<mat-select formControlName="supplier">
					<mat-option *ngFor="let item of supplierList" [value]="item">{{item.company_name}}</mat-option>
				</mat-select>
			</mat-form-field>
			<br>


			<!--Footer-->
			<ng-template matStepLabel>Done</ng-template>
			<p>You are now done.</p>
			<div class="p-5">
				<button mat-raised-button class="mr-3" matStepperPrevious color="primary">Back</button>
				<button mat-raised-button class="mr-3" color="primary" (click)="productAddStepper.reset()">Reset</button>
				<button mat-raised-button color="warn"
					(click)="saveProduct(basicInforFormGroup.value,imageFormGroup.value, associationFormGroup.value)">Complete</button>
			</div>
		</form>
	</mat-step>
</mat-horizontal-stepper>
