<div class="container">
	<mat-tab-group>
		<mat-tab label="View">
			<h1>All Suppliers</h1>
			<app-supplier-view></app-supplier-view>
		</mat-tab>

		<mat-tab label="Add">
			<h1>Add Supplier</h1>
			<app-supplier-form [forEdit]="false"></app-supplier-form>
		</mat-tab>
		<mat-tab label="Edit">
			<h1>Edit Supplier</h1>
			<div class="row m-0 p-2">
				<div class="col-4">
					<app-supplier-list></app-supplier-list>
				</div>
				<div class="col-8">
					<app-supplier-form [forEdit]="true"></app-supplier-form>
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>
