<form [formGroup]="categoryForm" (ngSubmit)="saveCategory(categoryForm.value)" autocomplete="off" novalidate>
<mat-card>
	<mat-card-title>Category Form</mat-card-title>
	<mat-card-content>
		<div class="example-container">
			<mat-form-field appearance="fill">
				<mat-label>Category Name</mat-label>
				<input matInput required formControlName="name" value="{{selectedCategory.name}}">
			</mat-form-field>
			<br>
			<mat-form-field appearance="fill">
				<mat-label>Description</mat-label>
				<textarea matInput required formControlName="description" value="{{selectedCategory.description}}"></textarea>
			</mat-form-field>
			<br>
			<mat-checkbox formControlName="active" [(ngModel)]="selectedCategory.active">Enable</mat-checkbox>
		</div>
		<mat-card-actions>
			<button mat-button [disabled]="!categoryForm.valid">SAVE</button>
			<button mat-button (click)="resetForm()">CANCEL</button>
		</mat-card-actions>
	</mat-card-content>
</mat-card>
</form>
