<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button mat-icon-button>
			<mat-icon (click)="sidenav.toggle()">menu</mat-icon>
		</button>
		<h1>Administration</h1>
		<span class="menu-spacer"></span>
	</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
	<mat-sidenav #sidenav>
		<mat-nav-list>
      <mat-list-item>
				<mat-icon mat-list-icon>dashboard</mat-icon>
				<a mat-list-item [routerLink]="'/dashboard'"> Dashboard </a>
			</mat-list-item>
			<mat-list-item>
				<mat-icon mat-list-icon>shopping_basket</mat-icon>
				<a mat-list-item [routerLink]="'/product'"> Products </a>
			</mat-list-item>
			<mat-list-item>
        <mat-icon>category</mat-icon>
				<a mat-list-item [routerLink]="'/category'"> Categories </a>
			</mat-list-item>
			<mat-list-item>
        <mat-icon>playlist_add_check</mat-icon>
				<a mat-list-item [routerLink]="'/pack'"> Packs </a>
			</mat-list-item>
			<mat-list-item>
        <mat-icon>close</mat-icon>
				<a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<div style="height: 88vh;">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
