<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button mat-icon-button>
			<mat-icon (click)="sidenav.toggle()">menu</mat-icon>
		</button>
		<h1>Administration</h1>
		<span class="menu-spacer"></span>
		<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="logout()">
			<mat-icon>logout</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
	<mat-sidenav #sidenav [position]="'start'" [mode]="'push'">
		<mat-nav-list>
			<mat-list-item>
				<mat-icon>dashboard</mat-icon>
				<a mat-list-item [routerLink]="'/dashboard'" (click)="sidenav.toggle()"> Dashboard </a>
			</mat-list-item>
			<mat-list-item>
				<mat-icon>shopping_basket</mat-icon>
				<a mat-list-item [routerLink]="'/product'" (click)="sidenav.toggle()"> Products </a>
			</mat-list-item>
			<mat-list-item>
				<mat-icon>category</mat-icon>
				<a mat-list-item [routerLink]="'/category'" (click)="sidenav.toggle()"> Categories </a>
			</mat-list-item>
			<mat-list-item>
				<mat-icon>playlist_add_check</mat-icon>
				<a mat-list-item [routerLink]="'/pack'" (click)="sidenav.toggle()"> Packs </a>
			</mat-list-item>
			<mat-list-item>
				<mat-icon>local_shipping</mat-icon>
				<a mat-list-item [routerLink]="'/supplier'" (click)="sidenav.toggle()"> Supplier </a>
			</mat-list-item>
			<hr>
			<!--<mat-list-item>
				<mat-icon>close</mat-icon>
				<a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
			</mat-list-item>-->
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<div style="height: 88vh;">
			<router-outlet class="p-5"></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
