<div class="container">
  <div class="col">
    <div class="row justify-content-end">
      <!--New Category Button-->
      <div class="float-right">
        <button mat-flat-button color="primary">New</button>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-8">
        <!--Category View-->
        <app-category-view></app-category-view>
      </div>
      <div class="col-4">
        <!--Category Form-->
        <app-category-form></app-category-form>
      </div>
    </div>
  </div>
</div>
