<div class="container">
	<mat-tab-group>
		<mat-tab label="View">
			<h1>Add A New Category</h1>
			<app-category-view (categorySelect)="categorySelectEvent($event)"></app-category-view>
		</mat-tab>

		<mat-tab label="Add">
			<h1>All Categories</h1>
			<app-category-form [forEdit]="false"></app-category-form>
		</mat-tab>

		<mat-tab label="Edit">
			<h1>Edit Category</h1>
			<div class="row m-0 p-2">
				<div class="col-4">
					<app-category-list></app-category-list>
				</div>
				<div class="col-8">
					<app-category-form [forEdit]="true"></app-category-form>
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>
